body {
    background-color: rgb(1, 77, 1);
    
}

.jeu {
    width: 100%;
}

.cartes, .carteBanque {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.joueur, .croupier {
    border: 1px solid black;
    margin: 10px 10px;
}

.mise, h2, .score {
    text-align: center;
}

.boutonsJoueurs {
    padding: 5px 0px;
    display: flex;
    justify-content: space-around;
}

#joueurs {
    display: flex;
    justify-content: space-around;
}

img {
    padding: 5px;
}